# Data types

### Int

In [25]:
a = 12
type(a)
b = '12'
c = int(b)
d = 0b1101
print('d =', d)
e = 0o2323
e
f = 0x4d3
f

d = 13

1235

### float

In [34]:
a = 4.2
type(a)
c =10; d=4
e = c/d; print(e)
e = c//d; print(e) # integer division
i = float(3)
j=4e3  ; print ("j= ", j)
j=4e-3; print("j=", j)
a = 0.2; b = 0.1; c = a + b; print(c)

2.5
2
j=  4000.0
j= 0.004
0.30000000000000004

### Complex numbers

In [40]:
a = 2+3j
a
type(a)
b = 3+5j
c = a + b
c

(5+8j)

### String

In [42]:
#espace character
c = 'He said " i wasn\'t at school today" to me'
c

#\t, \n

'He said " i wasn\'t at school today" to me'

In [43]:
print(c)

He said " i wasn't at school today" to me

In [ ]:
b = r"test\n" # not interpert next line character
print (""" This suresh
           start""")

# Print Method

In [14]:
a = 1
b = 'ball'
print('I have %d %s' % (a, b))
print('I have', a, b)
print('I have {} {}'.format(a, b))
print('I have ' + str(a) + ' ' + b)
print(f'I have {a} {b}')

I have 1 ball
I have 1 ball
I have 1 ball
I have 1 ball
I have 1 ball

In [15]:
person = {'name': 'Eric', 'age': 74}
"Hello, {name}. You are {age}.".format(**person)

'Hello, Eric. You are 74.'

F string

In [18]:
name = "Eric"
age = 74
f"Hello, {name}. You are {age}."
F"Hello, {name}. You are {age}."

'Hello, Eric. You are 74.'

In [19]:
f"{2 * 37}"

'74'

In [22]:
def to_lowercase(input):
    return input.lower()

name = "Eric Idle"
f"{to_lowercase(name)} is funny."
f"{name.lower()} is funny."

'eric idle is funny.'

In [23]:
class Comedian:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

    def __str__(self):
        return f"{self.first_name} {self.last_name} is {self.age}."

    def __repr__(self):
        return f"{self.first_name} {self.last_name} is {self.age}. Surprise!"

In [24]:
new_comedian = Comedian("Eric", "Idle", "74")
f"{new_comedian}"

'Eric Idle is 74.'

### fstring also in triple quotes