In [2]:
import pandas as pd

In [3]:
test = pd.Series([1,2,3])
test

0    1
1    2
2    3
dtype: int64

In [5]:
test = pd.Series(['A','B','C'])
test

0    A
1    B
2    C
dtype: object

In [6]:
test = {1:'A',2: 'B', 3: 'C'}
test

{1: 'A', 2: 'B', 3: 'C'}

In [8]:
test2 = pd.Series(test)
test2

1    A
2    B
3    C
dtype: object

In [9]:
test3 = {1:'D',2: 'E', 3: 'F'}
test3

{1: 'D', 2: 'E', 3: 'F'}

In [11]:
df = pd.DataFrame({'test2':test2,'test3': test3})
df

  test2 test3
1     A     D
2     B     E
3     C     F

In [12]:
1 in test3

True

In [13]:
df.axes

[Int64Index([1, 2, 3], dtype='int64'),
 Index(['test2', 'test3'], dtype='object')]

In [14]:
df.test2

1    A
2    B
3    C
Name: test2, dtype: object

In [17]:
df.test2.iloc[1]

'B'

In [25]:
df.loc[1:2, ['test2']]

  test2
1     A
2     B